<!DOCTYPE html>
<html lang="en">

<head>
	<title>World Best Local Directory Website template</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- ALL CSS FILES -->
	<link href="css/materialize.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="assets/css/theme-icons.min.css">
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="css/responsive.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--PRE LOADING-->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	
	<div class="navtop">
  <div class="container">
    <div class="topnav">
      <div class="col-sm-2">
        <div class="logodiv"> <a href="index.html"><img src="assets/images/logo1.png"></a> </div>
      </div>
      <div class="col-sm-2">
        <div class="left_part">
          <div class="social_icon">
            <ul>
                <li><a href="https://twitter.com/fashant_ae"><i class="flipt mdi mdi-twitter" aria-hidden="true"></i></a></li>
			    <li><a href="https://www.facebook.com/Fashant"><i class="flipt mdi mdi-facebook" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="flipt mdi mdi-instagram" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="mid_part">
          <div class="menu-fullm1">
              <li class="notification"><a href="http://fashant.com/FSBlogs/">Latest Trends</a></li>
            <li class="downlod_app"><a href="marketplace.html">Explore Fashion</a></li>
            <!--<li class="services"><a href="http://fashant.com/FSBlogs/forums/">Fashion Advice</a></li>-->
            <li class="authorization-link sign_in"><a href="#" data-toggle="modal" data-target="#signin"> Sign In </a></li>
            <li class="sign_up"><a href="#" data-toggle="modal" data-target="#signup">Sign up</a></li>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--header-off-->
<div class="clearfix"></div>
<!--TOP SEARCH SECTION-->

	
	<!--BANNER AND SERACH BOX-->
	<section id="background" class="dir1-home-head">
		
		<div class="container dir-ho-t-sp">
			<div class="row">
				<div class="dir-hr1">
					<div class="dir-ho-t-tit">
						<h1>Connect with the right Service Experts</h1> 
						<p>Find B2B & B2C businesses contact addresses, phone numbers,<br> user ratings and reviews.</p>
					</div>
					<form class="tourz-search-form">
						<div class="input-field">
							<input type="text" id="select-city" class="autocomplete">
							<label for="select-city">Location</label>
						</div>
						<div class="input-field">
							<input type="text" id="select-search" class="autocomplete">
							<label for="select-search" class="search-hotel-type">Search Fashion Shopes, Stores....</label>
						</div>
						<div class="input-field">
							<input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--TOP SEARCH SECTION-->
	
	<!--HOME PROJECTS-->
	<section class="proj mar-bot-red-m30">
		<div class="container">
			<div class="row">
				<!--HOME PROJECTS: 1-->
				<div class="col-md-3 col-sm-6">
					<div class="hom-pro"> <img src="images/icon/1.png" alt="" />
						<h4>24 Million Business</h4>
						<p>Choose from a collection of handpicked luxury villas & apartments</p> <a href="#!">Explore Now</a> </div>
				</div>
				<!--HOME PROJECTS: 1-->
				<div class="col-md-3 col-sm-6">
					<div class="hom-pro"> <img src="images/icon/2.png" alt="" />
						<h4>1,200 Services Offered</h4>
						<p>Choose from a collection of handpicked luxury villas & apartments</p> <a href="#!">Explore Now</a> </div>
				</div>
				<!--HOME PROJECTS: 1-->
				<div class="col-md-3 col-sm-6">
					<div class="hom-pro"> <img src="images/icon/3.png" alt="" />
						<h4>05 Million Visitors</h4>
						<p>Choose from a collection of handpicked luxury villas & apartments</p> <a href="#!">Explore Now</a> </div>
				</div>
				<!--HOME PROJECTS: 1-->
				<div class="col-md-3 col-sm-6">
					<div class="hom-pro"> <img src="images/icon/7.png" alt="" />
						<h4>24 Million Business</h4>
						<p>Choose from a collection of handpicked luxury villas & apartments</p> <a href="#!">Explore Now</a> </div>
				</div>
			</div>
		</div>
	</section>
	<!--FIND YOUR SERVICE-->
	<section class="com-padd com-padd-redu-bot1 pad-bot-red-40">
		<div class="container">
			<div class="row">
				<div class="com-title">
					<h2>Find your <span>Services</span></h2>
				</div>
				<div class="cat-v2-hom-list">
					<ul>
						<li>
							<a href="#"><img src="images/icon/hcat1.png" alt=""> Hospitals</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat2.png" alt=""> Hotel &amp; Resort</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat3.png" alt=""> Events</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat4.png" alt=""> Wedding Halls</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat5.png" alt=""> Shops</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat6.png" alt=""> Fitness &amp; Gym</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat7.png" alt=""> Sports</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat8.png" alt=""> Education</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat9.png" alt=""> Electricals</a>
						</li>
						<li>
							<a href="#"><img src="images/icon/hcat10.png" alt=""> Automobiles</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--EXPLORE CITY LISTING-->
	<div class="main_middle_part_image">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
                <div class="image_middle_part"><img src="images/banner_middle_part_1.jpg" alt=""></div>
            </div>
            <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
                <div class="image_middle_part"><img src="images/banner_middle_part_2.jpg" alt=""></div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
            <div class="image_middle_part"><img src="images/banner_middle_part_3.jpg" alt=""></div>
        </div>
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
            <div class="image_middle_part"><img src="images/banner_middle_part_4.jpg" alt=""></div>
        </div>
    </div>
</div>
	<!--ADD BUSINESS-->
	<section class="com-padd home-dis">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>30% Off</span> Promote Your Business with us <a href="price.html">Add My Business</a></h2> </div>
			</div>
		</div>
	</section>
	<!--BEST THINGS-->
	<div class="main_part_only_best">
		<div class="container">
			<h2>Only The Best</h2>
			<span>Poular Categories that people are shipping for right now</span>
			<div class="row">
				<div class="col-md-6">
				<div class="main_part_inner_men_women_1">
				<div class="main_img_par_only_best">
					<img src="images/only_best_image_men.png" alt="">
				</div>
				<ul class="sub-cat">
				<h2>MEN’S <span>Popular</span></h2>
				<li>

				<div class="info">
				<a class="link" href="#">T-Shirts</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#l">Casual Shirts</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Jeans</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Accessories</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Casual Shoes</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Sports Shoes</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Innerwear</a></div>
				</li>
				</ul>
				</div>
				</div>
				<div class="col-md-6">
				<div class="main_part_inner_men_women_2">
					<div class="main_img_par_only_best_2">
					<img src="images/only_best_women.png" alt="">
				</div>
				<ul class="sub-cat">
				<h2>WOMEN’S <span>Popular</span></h2>

				<li>

				<div class="info">
				<a class="link" href="#">Kurtas &amp; Suits</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Tops &amp; Tees</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Dresses</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Accessories</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Flats &amp; Casual Shoes</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Handbags &amp; Wallets</a></div>
				</li>
				<li>

				<div class="info">
				<a class="link" href="#">Jewellery</a></div>
				</li>
				</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
	<!--CREATE FREE ACCOUNT-->
	
	<!--FOOTER SECTION-->
	<footer class="page-footer">
  <div class="footer content">
    <div class="block newsletter">
      <div class="content">
        <div class="container">
          <form class="form subscribe" novalidate="novalidate" action="" method="post" id="passto2" onSubmit="return submitForm_2();">
            <div class="field newsletter">
              <!--<label class="label" for="newsletter"><span>Sign Up for Our Newsletter:</span></label>-->
              <div class="newsletter_title">
                <h2><strong>Subscribe</strong> to our newsletter</h2>
              </div>
              <div class="control">
                <input name="email" type="email" id="newsletter" placeholder="Enter your email address" data-validate="{required:true, 'validate-email':true}">
              </div>
            </div>
            <div class="actions">
              <input class="action subscribe primary" title="sign up" type="submit" value="sign up">
              <div class="form_result"> </div>
            </div>
            <script>
                function submitForm_2() {
                                        $.ajax({type:'POST', url: 'mail.php', data:$('#passto2').serialize(), success: function(response) {
                                    		//$("#ContactForm").hide().html(response).slideToggle(600);//this use for hide form after submit
                                            $('#passto2').find('.form_result').html(response);
                                        }});
                                    
                                        return false;
                                      }
            </script>
            
          </form>
        </div>
      </div>
    </div>
    <div class="links">
      <div class="widget block block-static-block">
        <div class="footer_main_part desktop">
          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <div class="phone_rigt_part">
                  <div class="main_part_inner_footer_toggle">
                    <h4>Got Questions? Call us 24/7!</h4>
                    <p class="phone_number">(+971) 55 857 2205</p>
                    <p><a>contact@fashant.com</a></p>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="main_part_footer_text">
                  <h2 class="title_toggle_footer">download app</h2>
                  <div class="main_part_inner_footer_toggle"><img src="images/app_store.png" alt=""> <img src="images/googl_play.png" alt=""></div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="main_part_footer_text_quick">
                  <h2 class="title_toggle_footer">quick links</h2>
                  <div class="main_part_inner_footer_toggle">
                    <ul>
                      <li><a href="terms-conditions.html">Terms and Conditions</a></li>
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="policies.html">Policies</a></li>
                      <!--<li><a href="refer-earn.html">Refer &amp; Earn</a></li>-->
                      <li><a href="faq.html">Faqs</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="main_part_footer_text_share_with">
                  <h2 class="title_toggle_footer">share us with</h2>
                  <div class="main_part_inner_footer_toggle">
                    <ul>
                      <li><a href="https://twitter.com/fashant_ae"><i class="flipt mdi mdi-twitter"></i></a></li>
                      <li><a href="https://www.facebook.com/Fashant"><i class="flipt mdi mdi-facebook"></i></a></li>
                      <li><a href="#"><i class="flipt mdi mdi-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--COPY RIGHTS-->
<div class="main_copy_right">
  <div class="container"> <small class="copyright"> <span>Copyright © 2018, FASHANT.COM. All Rights Reserved.</span> </small> </div>
</div>

	<!--QUOTS POPUP-->
	<section>
		<!-- GET QUOTES POPUP -->
		<div class="modal fade dir-pop-com" id="signin" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header dir-pop-head">
						<button type="button" class="close" data-dismiss="modal">×</button>
					</div>
					<div class="modal-body dir-pop-body">
						<section class="tz-register">
							<div class="log-in-pop">
								<div class="log-in-pop-left">
									<h1>Hello... <span></span></h1>
									<p>Don't have an account? Create your account. It's take less then a minutes</p>
									<h4>Login with social media</h4>
									<ul>
										<li><a href="#"><i class="mdi mdi-facebook"></i> Facebook</a>
										</li>
										<li><a href="#"><i class="mdi mdi-google"></i> Google+</a>
										</li>
										<li><a href="#"><i class="mdi mdi-twitter"></i> Twitter</a>
										</li>
									</ul>
								</div>
								<div class="log-in-pop-right">
									<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
									</a>
									<h4>Login</h4>
									<p>Don't have an account? Create your account. It's takes less then a minutes</p>
									<div id="error_container"></div>
									<form class="s12" id="login-form" action="" method="post" role="form">
										<div>
											<div class="input-field s12">
												<input type="text" id="username" name="username" data-ng-model="name1" class="validate" tabindex="1">
												<label>User name</label>
											</div>
										</div>
										<div>
											<div class="input-field s12">
												<input type="password" id="password" name="password" class="validate" tabindex="2">
												<label>Password</label>
											</div>
										</div>
										<div>
											<div class="input-field s4">
												<input type="submit" id="loginBtn" name="loginBtn" value="Login" class="waves-effect waves-light log-in-btn" tabindex="3"> </div>
										</div>
									</form>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade dir-pop-com" id="signup" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header dir-pop-head">
						<button type="button" class="close" data-dismiss="modal">×</button>
					</div>
					<div class="modal-body dir-pop-body">
						<section class="tz-register">
							<div class="log-in-pop">
								<div class="log-in-pop-left">
									<h1>Hello... <span></span></h1>
									<p>Don't have an account? Create your account. It's take less then a minutes</p>
									<h4>Sign up with social media</h4>
									<ul>
										<li><a href="#"><i class="mdi mdi-facebook"></i> Facebook</a>
										</li>
										<li><a href="#"><i class="mdi mdi-google"></i> Google+</a>
										</li>
										<li><a href="#"><i class="mdi mdi-twitter"></i> Twitter</a>
										</li>
									</ul>
								</div>
								<div class="log-in-pop-right">
									<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
									</a>
									<h4>Sign up</h4>
									<p>Don't have an account? Create your account. It's takes less then a minutes</p>
									<div id="error_container"></div>
									<form class="s12" id="login-form" action="" method="post" role="form">
										<div>
											<div class="input-field s12">
												<input type="text" id="firstname" name="firstname" data-ng-model="name1" class="validate" tabindex="1">
												<label>First name</label>
											</div>
										</div>
										<div>
											<div class="input-field s12">
												<input type="text" id="lastname" name="lastname" data-ng-model="name2" class="validate" tabindex="1">
												<label>Last Name</label>
											</div>
										</div>
										<div>
											<div class="input-field s12">
												<input type="text" id="email" name="email" data-ng-model="email" class="validate" tabindex="1">
												<label>Email or Mobile</label>
											</div>
										</div>
										<div>
											<div class="input-field s12">
												<input type="password" id="password" name="password" class="validate" tabindex="2">
												<label>Password</label>
											</div>
										</div>
										<div>
											<div class="input-field s4">
												<input type="submit" id="signupBtn" name="signupBtn" value="Sign Up" class="waves-effect waves-light log-in-btn" tabindex="3"> <input type="submit" id="forgetpass" name="forgetpass" value="Forget Password" class="waves-effect waves-light log-in-btn" tabindex="3"></div>
										</div>
										
									</form>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<!-- GET QUOTES Popup END -->
	</section>
	<!--SCRIPT FILES-->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js" type="text/javascript"></script>
	<script src="js/materialize.min.js" type="text/javascript"></script>
	<script src="js/custom.js"></script>
</body>

</html>